{% extends "base.html" %}

{% block content %}  <!-- here instead of content you can use anything like abc or xyz -->

<h1>Hi! {{title}} (id: {{id}})</h1> <!-- there you print f-string using double curly brackets -->
<p>{{content}}</p> 

<a href='{% url "article-create" %}'>Create Article</a>
<ul>{% for x in object_list %}
        {% if x.title %} 
            <li><a href="{{ x.get_absolute_url }}">{{ x.title }} - {{ x.content }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock content %}